.navbar{
  background-color: #0B596F;
}

li.active{
  background-color: white;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #074455;
}

.navbar-brand{
  color: white;
}

.nav a{
  color: white;
}
