
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e91e63; width: 95%; margin-left: auto; margin-right: auto; border-radius: 10px">
  <div class="container-fluid">
    <a class="navbar-brand" disabled="">Vetreria Giavenale</a>
    <div class="navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active">Prodotti</a>
        <a class="nav-link" [routerLink]="['/services']" routerLinkActive="active">Servizi</a>
      </div>
    </div>
    <span style="width: 90%"></span>
    <div class="navbar-nav" style="width: auto">
      <a class="nav-link" [routerLink]="['/auth/login']" routerLinkActive="active" *ngIf="!userLogged">Login</a>
      <a class="nav-link" [routerLink]="['/auth/register']" routerLinkActive="active" *ngIf="userLogged" (click)="onLogout()">Logout</a>
    </div>
  </div>
</nav>
