.form{
  margin-top: 10%;
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e91e63;
  padding: 40px;
  border-radius: 20px;
  color: white;
}
a{
  color: rgb(48,48,48);
  text-decoration: underline;
  font-weight:normal ;
}
a:hover{
  font-weight: bold;
}

.btn-danger{
  background-color: rgb(48,48,48)
}


