<div class="row" style="width: 70%">
  <div class="col-xs-10 col-xs-offset-4">
    <h3>Prodotti</h3>
    <h4><a>Bottiglie</a></h4>
    <p>
      Tutti i prodotti a forma allungata adatti a contenere liquidi.
    </p>
    <h4><a>Barattoli</a></h4>
    <p>
      Tutti i prodotti a forma schiacciata adatti a contenere liquidi.
    </p>
    <h4><a>Lastre</a></h4>
    <p>
      Tutti i prodotti a forma sottile.
    </p>
  </div>
</div>
<div class="row" style="width: 70%">
  <div class="col-xs-10 col-xs-offset-4">
    <router-outlet></router-outlet>
  </div>
</div>

