<div class="row" style="width: 70%">
  <div class="col-xs-10 col-xs-offset-4">
    <h3>Vetreria Giavenale</h3>
    <p>
      Da oltre 50 anni presso la nostra sede di Giavenale, provincia di Vicenza,
      ci occupiamo di lavorare il vetro in ogni sua forma. Il nostro obiettivo e' ricercare
      in ogni momento le migliori soluzioni possibili per sodisfare le tue richieste
    </p>
    <h4>Chi siamo?</h4>
    <p>
      Siamo un'azienda che lavora principalmente nel territorio scledense.
      Nel corso degli anni abbiamo espanso i nostri orizzonti verso un apliamento della copertura territoriale
      e ora, tramite una rete di sedi sparse in varie citta', arriviamo fino a Vicenza.
    </p>
    <h4>Cosa facciamo?</h4>
    <p>
      Produciamo forme in vetro su misura di ogni tipo.
      Visita la sezione prodotti per scoprire di piu'
    </p>
  </div>
</div>

